html{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100%;
}

#viewport{
    width: 640px;
    height: 256px;
    position: relative;
    overflow-x: auto;
    background-image: url("../images/water0.png");
}

#ports{
    display: flex;
    margin-top: 96px;
    justify-content: space-around;
}

#ports > .port{
    width: 64px;
    height: 32px;
    background-image: url("../images/port.png");
}

#ship{
    background-image: url("../images/ship.png");
    width: 128px;
    height: 64px;
    position: absolute;

}

#sailbutton{
    position: fixed;
    bottom: 356px;
    left: 0;
    width: 100%;
    border: 0;
    padding: 10px 20px;
    border-bottom: 4px solid #d8040f;
    background-color: #FB3640;
    color: white;
    font-size: 25px;
    font-family: inherit;
    font-family: 'Press Start 2P', cursive;
}
#sailbutton:focus {
    background-color: #d8040f;
    border-bottom-width: 0;
    padding-top: 14px;
  }